# package dependencies ----
pandas
# packaging ---------------
setuptools
pytest
# code analysers ----------
pylint
ruff
black
flake8
coverage[toml]
# documentation------------
sphinx
myst-parser
sphinx_rtd_theme
sphinx-automodapi
sphinx-argparse